<!DOCTYPE html>
<html>
<head>
    {% include 'admin/inc/header.html' %}
</head>
<!-- ADD THE CLASS layout-top-nav TO REMOVE THE SIDEBAR. -->
<body class="hold-transition skin-blue layout-top-nav">
<div class="wrapper">

    {% include 'admin/inc/top-nav.html' %}


    <!-- Full Width Column -->
    <div class="content-wrapper">
        <div class="container">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    Top Navigation
                    <small>Example 2.0</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                    <li><a href="#">Layout</a></li>
                    <li class="active">Top Navigation</li>
                </ol>
            </section>

            <!-- Main content -->
            <section class="content">
                {% include 'inc/noti.html' %}
                {% block body %}
                {% endblock %}
            </section>
            <!-- /.content -->
        </div>
        <!-- /.container -->
    </div>
    <!-- /.content-wrapper -->

    {% include 'admin/inc/footer.html' %}

</div>
<!-- ./wrapper -->

{% include 'admin/inc/js.html' %}

{% block javascript %}
{% endblock %}


</body>
</html>
