

{% extends 'admin/starter.html' %}

{% block body %}

    <div class="box box-default">
        <div class="box-header with-border">
            <div class="box-title">Pending Users</div>
        </div>
        <div class="box-body">
            <table id="pendingUserTable" class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>User ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    {#                    <th>From</th>#}
                    {#                    <th>To</th>#}
                    {#                    <th>Class</th>#}
                    {#                    <th>Amount</th>#}
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                {% for user in pending_users %}
                    <tr>
                        <td>{{ user.id }}</td>
                        <td>{{ user.fname }} {{ user.lname }}</td>
                        <td>{{ user.email }}</td>
                        {#                        <td>Galle</td>#}
                        {#                        <td>Colombo</td>#}
                        {#                        <td>3rd Class</td>#}
                        {#                        <td>Rs 2000</td>#}
                        <td>
                            <a href="/admin/user/approve/{{ user.id }}" class="btn btn-success btn-sm">
                                <i class="fa fa-check"></i>
                            </a>
                            <a href="/admin/user/approve/{{ user.id }}/trash/" class="btn btn-danger btn-sm ">
                                <i class="fa fa-close"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
    </div>

    <div class="box box-default">
        <div class="box-header with-border">
            <div class="box-title">Active Users</div>
        </div>
        <div class="box-body">
            <table id="activeUserTable" class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>User ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>From</th>
                    <th>To</th>
                    <th>Class</th>
                    <th>Amount</th>
                    <th>Date Payment</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                {% for user in active_users %}
                    <tr>
                        <td>{{ user.id }}</td>
                        <td>{{ user.fname }} {{ user.lname }}</td>
                        <td>{{ user.email }}</td>
                        <td>
                            {% if user.location_from != None %}
                                {% for loc in location_list %}
                                    {% if loc.id == user.location_from %}
                                        {{ loc.name }}
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                None
                            {% endif %}
                        </td>
                        <td>
                            {% if user.location_from != None %}
                                {% for loc in location_list %}
                                    {% if loc.id == user.location_to %}
                                        {{ loc.name }}
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                None
                            {% endif %}
                        </td>
                        <td>
                            {% if user.class == 1 %}
                                1st Class
                            {% elif user.class == 2 %}
                                2nd Class
                            {% elif user.class == 3 %}
                                3rd Class
                            {% else %}
                                None
                            {% endif %}
                        </td>
                        <td>
                            {% if user.amount == None %}
                                None
                            {% else %}
                                Rs {{ user.amount }}
                            {% endif %}
                        </td>
                        <td>{{ user.date_payment }}</td>
                        <td>
                            <a href="/admin/user/{{ user.id }}" class="btn btn-primary btn-sm">
                                <i class="fa fa-eye"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
    </div>



{% endblock %}


{% block javascript %}

    <script>
        $('table').dataTable();
    </script>
{% endblock %}

