<!-- Inline Error field macros -->
{% macro render_field(field,error_inline = False) %}
    {% if field.errors and error_inline %}
        <div class="form-group has-error">
            {{ field(class_="form-control", **kwargs)|safe }}
            {% for error in field.errors %}
                <span class="help-block">{{ error }}</span>
            {% endfor %}
        </div>
    {% else %}
        <div class="form-group has-feedback">
            {{ field(class_="form-control", **kwargs)|safe }}
        </div>
    {% endif %}
{% endmacro %}

<!-- Inline Custom Fields Icon macros -->

{% macro render_field_icon(icon,field,error_inline=False,hide_text=False) %}
    {% if field.errors and error_inline %}
        <div class="form-group has-error">
            {{ field(class_="form-control", **kwargs)|safe }}
            {% if hide_text==False %}
                {% for error in field.errors %}
                    <span class="help-block">{{ error }}</span>
                {% endfor %}
            {% endif %}
        </div>
    {% else %}
        <div class="form-group has-feedback">
            {{ field(class_="form-control", **kwargs)|safe }}
            <span class="glyphicon glyphicon-{{ icon }} form-control-feedback"></span>
        </div>
    {% endif %}
{% endmacro %}

<!-- Inline Error field macros -->
{% macro render_checkbox(field) %}
    <div class="checkbox icheck">
        <label>
            {{ field(**kwargs)|safe }} {{ field.label.text|safe }}
        </label>
    </div>
{% endmacro %}


{% macro render_select(field) %}
    <div class="form-group">
        <label>{{ field.label }}</label>
        {{ field(class_="form-control select2", **kwargs)|safe }}
    </div>
{% endmacro %}



