{% extends 'starter.html' %}

{% block body %}

    <div class="row">
        <div class="col-md-4">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Current Season</h3>
                </div>
                <div class="form-horizontal">
                    <div class="box-body">
                        <div class="form-group">
                            <label class="col-sm-5 control-label">Season ID :</label>
                            <div class="col-sm-7 control-text">{{ active_season.id }}</div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-5 control-label">From :</label>
                            {% for location in locations_list %}
                                {% if location.id == active_season.location_from %}
                                    <div class="col-sm-7 control-text">{{ location.name }}</div>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="form-group">
                            <label class="col-sm-5 control-label">To :</label>
                            {% for location in locations_list %}
                                {% if location.id == active_season.location_to %}
                                    <div class="col-sm-7 control-text">{{ location.name }}</div>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="form-group">
                            <label class="col-sm-5 control-label">Class :</label>
                            {% if active_season.class == 1 %}
                                <div class="col-sm-7 control-text">1st Class</div>
                            {% elif active_season.class == 2 %}
                                <div class="col-sm-7 control-text">2nd Class</div>
                            {% elif active_season.class == 3 %}
                                <div class="col-sm-7 control-text">3rd Class</div>
                            {% else %}
                                <div class="col-sm-7 control-text"></div>
                            {% endif %}
                        </div>
                        <div class="form-group">
                            <label class="col-sm-5 control-label">Valid :</label>
                            <div class="col-sm-7 control-text">
                                {% if active_season.active == 1 %}{{ active_season.start_date }} to
                                    {{ active_season.end_date }}{% endif %}</div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-5 control-label">Amount :</label>
                            <div class="col-sm-7 control-text">{{ active_season.amount }}</div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-5 control-label">Payment Date :</label>
                            <div class="col-sm-7 control-text">{{ active_season.date_payment }}</div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-5 control-label">Active :</label>
                            {% if active_season.active == 0 %}
                                <div class="col-sm-7 control-text">No</div>
                            {% elif active_season.active == 1 %}
                                <div class="col-sm-7 control-text">Yes</div>
                            {% else %}
                                <div class="col-sm-7 control-text"></div>
                            {% endif %}
                        </div>
                        <div class="box-footer">
                            <a href="/user/season/{{ active_season.id }}/deac/" type="button" class="btn btn-danger">Cancel</a>
                            <a href="/user/season/add" style="margin-left: 5px" type="button"
                               class="btn btn-primary pull-right">Add New</a>
                            <button type="button" disabled class="btn btn-info pull-right">Re-New</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">Old</h3>
                </div>
                <div class="box-body">
                    <table id="example1" class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th>Season ID</th>
                            <th>From</th>
                            <th>To</th>
                            <th>Class</th>
                            <th>Valid</th>
                            <th>Amount(Rs)</th>
                        </tr>
                        </thead>
                        <tbody>

                        {% for season in old_seasons %}
                            <tr>
                                <td>{{ season.id }}</td>
                                <td>
                                    {% for loca in locations_list %}
                                        {% if loca.id == season.location_from %}
                                            {{ loca.name }}
                                        {% endif %}
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for loca in locations_list %}
                                        {% if loca.id == season.location_to %}
                                            {{ loca.name }}
                                        {% endif %}
                                    {% endfor %}
                                </td>
                                <td>{{ season.class }}</td>
                                <td>{{ season.end_date }}</td>
                                <td>{{ season.amount }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                </div>
                <!-- /.box-body -->
            </div>
        </div>

    </div>


{% endblock %}



{% block javascript %}
    <script>
        $(function () {
            $('#example1').DataTable();
        })
    </script>
{% endblock %}
