{% extends 'starter.html' %}

{% block body %}
    {% from 'forms_macro.html' import render_select %}
    <div class="row">
        <div class="col-md-6">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">New Season</h3>
                </div>
                <div class="box-body">
                    <form id="frmAddSeason" action="/user/season/add/" method="post">
                        <div class="row">
                            <div class="col-md-6">
                                {{ render_select(form.location_to) }}
                            </div>
                            <div class="col-md-6">
                                {{ render_select(form.location_from) }}
                            </div>
                        </div>

                        {{ render_select(form.season_class) }}
                        <div class="box-footer">
                            <button type="submit" class="btn btn-primary pull-right">Add</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block javascript %}

    <script>
        $(function () {
            $('#example1').DataTable();
        })
    </script>
{% endblock %}